<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.alexandercold.a3rd">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StigmataActivity"
            android:label="@string/title_activity_stigmata"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StigmataViewActivity"
            android:label="@string/title_activity_stigmata"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ValkyriaActivity"
            android:label="@string/title_activity_valkuria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ValkyriaViewActivity"
            android:label="@string/title_activity_valkuria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HonkaiActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HonkaiStart"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeaponActivity"
            android:label="@string/title_activity_weapon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TableActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuidActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuidViewActivity"
            android:label="@string/title_activity_guid_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CannonsActivity"
            android:label="@string/title_activity_cannons_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CrossesActivity"
            android:label="@string/title_activity_crosses_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SwordsActivity"
            android:label="@string/title_activity_swords_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GreatswordsActivity"
            android:label="@string/title_activity_greatswords_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GunsActivity"
            android:label="@string/title_activity_guns_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CannonsViewActivity"
            android:label="@string/title_activity_cannons_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SwordsViewActivity"
            android:label="@string/title_activity_swords_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CrossesViewActivity"
            android:label="@string/title_activity_crosses_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GunsViewActivity"
            android:label="@string/title_activity_guns_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GreatswordsViewActivity"
            android:label="@string/title_activity_greatswords_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TableViewActivity"
            android:label="@string/title_activity_table_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QiwiActivity"
            android:label="@string/title_activity_qiwi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThankActivity"
            android:label="@string/title_activity_thank"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>